.information{

    background-color: #7308FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.about-title{
    width: 10rem;
    height: 2.9rem;
    border-radius: 8px;
    background-color: #fff;
    color: #7308FC ;
    margin-top: 5rem;
    font-size: 1.3rem;
display: flex;
align-items: center;    
justify-content: center;
box-shadow: 9px 9px #ccc ;

}
.info-card{

    width: 75vw;
    height: 30vh;
    border-radius: 8px;
    background-color: #ffff;
    box-shadow: 15px 15px  #ccc ;
    color: #222;
    font-size: 0.7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    text-shadow: 1px #111 ;
}
.info-title{
    max-width: 10rem;
    max-height: 4rem;
    padding: 6px;
    border-radius: 6px;
    background-color: #7308FC;
    box-shadow: 10px 10px #ccc;
    color: #ffff;
font-size: 1rem;
}
.info-desc{
    font-size: 0.6rem;
}
#hpconsul{
    color: #7308FC;
}


.rules{
    padding: 2px;
    background-color: #7308FC;
    color:#fff;
    border-radius: 4px;
    max-height: 1.8rem;
    width: 15rem;
}

@media (min-width:600px) {
    .info-card{
        width: 34vw;
        height: 50vh;
    }

    .info-desc{
        font-size: 1rem;
    }
    
    .info-card ul {
        max-width: 10vw;
    }
}